@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 27px;
  height: 27px;
}
::-webkit-scrollbar-thumb {
  background: #ee82ee;
  border: 0px none #fff;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #fffFFF50;
  border: 0px none #fff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #fffFFF50;
}
::-webkit-scrollbar-track:active {
  background: #fffFFF50;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
